altgraph==0.17.2
appdirs==1.4.4
comtypes==1.1.10
distlib==0.3.2
filelock==3.0.12
future==0.18.2
iso8601==1.0.2
numpy==1.21.1
pefile==2021.9.3
psutil==5.9.0
pycaw==20181226
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
pyserial==3.5
pywin32-ctypes==0.2.0
PyYAML==6.0
six==1.16.0
virtualenv==20.4.7
